<template>
    <dl class="px-12">
        <dt>{{ $t('dashboard.stats.chart.currency.title') }}</dt>
        <dd class="percentage percentage-65"><span class="text">BitCoin: 65.33%</span></dd>
        <dd class="percentage percentage-13"><span class="text">LiteCoin: 13.77%</span></dd>
        <dd class="percentage percentage-11"><span class="text">DogeCoin: 11.09%</span></dd>
        <dd class="percentage percentage-5"><span class="text">NewCoin: 5.41%</span></dd>
        <dd class="percentage percentage-3"><span class="text">LaraCoin: 3.62%</span></dd>
        <dd class="percentage percentage-3"><span class="text">NoddyCoin: 3%</span></dd>
    </dl>
</template>

<script>
export default {
    name: "CurrencyChart"
}
</script>

<style lang="scss" scoped>
    dl {
        display: flex;
        background-color: white;
        flex-direction: column;
        width: 100%;
        position: relative;
        padding: 20px;
    }

    dt {
        align-self: flex-start;
        font-weight: 700;
        display: block;
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 20px;
        margin-left: 130px;
    }

    .text {
        font-weight: 600;
        display: flex;
        align-items: center;
        height: 40px;
        width: 130px;
        background-color: white;
        position: absolute;
        left: 0;
        justify-content: flex-end;
    }

    .percentage {
        font-size: .8em;
        line-height: 1;
        text-transform: uppercase;
        height: 40px;
        margin-left: 130px;
        background: repeating-linear-gradient(
                to right,
                #ddd,
                #ddd 1px,
                #fff 1px,
                #fff 5%
        );

        &:after {
            content: "";
            display: block;
            background-color: #3d9970;
            width: 50px;
            margin-bottom: 10px;
            height: 90%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            transition: background-color .3s ease;
            cursor: pointer;
        }
        &:hover,
        &:focus {
            &:after {
                background-color: #aaa;
            }
        }
    }

    @for $i from 1 through 100 {
        .percentage-#{$i} {
            &:after {
                $value: ($i * 1%);
                width: $value;
            }
        }
    }
</style>
