<template>
    <dl>
        <dt>{{ $t('dashboard.stats.chart.cyber.title') }}</dt>
        <dd class="percentage percentage-11"><span class="text">Russia: 11.33%</span></dd>
        <dd class="percentage percentage-49"><span class="text">U.S.A: 49.77%</span></dd>
        <dd class="percentage percentage-16"><span class="text">Iraq: 16.09%</span></dd>
        <dd class="percentage percentage-5"><span class="text">Iran: 5.41%</span></dd>
        <dd class="percentage percentage-2"><span class="text">Cambodia: 1.62%</span></dd>
        <dd class="percentage percentage-2"><span class="text">Tesla: 2%</span></dd>
    </dl>
</template>

<script>
export default {
    name: "HackChart"
}
</script>

<style lang="scss" scoped>
    dl {
        display: flex;
        background-color: white;
        flex-direction: column;
        width: 100%;
        position: relative;
        padding: 20px;
    }

    dt {
        align-self: flex-start;
        font-weight: 700;
        display: block;
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 20px;
        margin-left: 130px;
    }

    .text {
        font-weight: 600;
        display: flex;
        align-items: center;
        height: 40px;
        width: 130px;
        background-color: white;
        position: absolute;
        left: 0;
        justify-content: flex-end;
    }

    .percentage {
        font-size: .8em;
        line-height: 1;
        text-transform: uppercase;
        height: 40px;
        margin-left: 130px;
        background: repeating-linear-gradient(
                to right,
                #ddd,
                #ddd 1px,
                #fff 1px,
                #fff 5%
        );

        &:after {
            content: "";
            display: block;
            background-color: #3d9970;
            width: 50px;
            margin-bottom: 10px;
            height: 90%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            transition: background-color .3s ease;
            cursor: pointer;
        }
        &:hover,
        &:focus {
            &:after {
                background-color: #aaa;
            }
        }
    }

    @for $i from 1 through 100 {
        .percentage-#{$i} {
            &:after {
                $value: ($i * 1%);
                width: $value;
            }
        }
    }
</style>
