<template>
    <dl>
        <dt>{{ $t('dashboard.stats.chart.hatred.title') }}</dt>
        <dd class="percentage percentage-100"><span class="text">France: 100%</span></dd>
        <dd class="percentage percentage-87"><span class="text">Germany: 87%</span></dd>
        <dd class="percentage percentage-59"><span class="text">China: 59%</span></dd>
        <dd class="percentage percentage-81"><span class="text">Spain: 81%</span></dd>
        <dd class="percentage percentage-100"><span class="text">Scotland: 100%</span></dd>
        <dd class="percentage percentage-1"><span class="text">Pluto: 1%</span></dd>
    </dl>
</template>

<script>
    export default {
        name: "HatredChart"
    }
</script>

<style lang="scss" scoped>
    dl {
        display: flex;
        background-color: white;
        flex-direction: column;
        width: 100%;
        position: relative;
        padding: 20px;
    }

    dt {
        align-self: flex-start;
        font-weight: 700;
        display: block;
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 20px;
        margin-left: 130px;
    }

    .text {
        font-weight: 600;
        display: flex;
        align-items: center;
        height: 40px;
        width: 130px;
        background-color: white;
        position: absolute;
        left: 0;
        justify-content: flex-end;
    }

    .percentage {
        font-size: .8em;
        line-height: 1;
        text-transform: uppercase;
        height: 40px;
        margin-left: 130px;
        background: repeating-linear-gradient(
                to right,
                #ddd,
                #ddd 1px,
                #fff 1px,
                #fff 5%
        );

        &:after {
            content: "";
            display: block;
            background-color: #3d9970;
            width: 50px;
            margin-bottom: 10px;
            height: 90%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            transition: background-color .3s ease;
            cursor: pointer;
        }
        &:hover,
        &:focus {
            &:after {
                background-color: #aaa;
            }
        }
    }

    @for $i from 1 through 100 {
        .percentage-#{$i} {
            &:after {
                $value: ($i * 1%);
                width: $value;
            }
        }
    }
</style>
