<template>
    <div class="p-6">
        <ul class="flex border-b">
            <li class="-mb-px mr-1">
                <a
                    class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold"
                    :class="{'active-tab' : chartToShow === 'hackChart'}"
                    href="#"
                    @click.prevent="chartToShow = 'hackChart'"
                >
                    Cyber Attacks
                </a>
            </li>
            <li class="mr-1">
                <a
                    class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold"
                    :class="{'active-tab' : chartToShow === 'currencyChart'}"
                    href="#"
                    @click.prevent="chartToShow = 'currencyChart'"
                >
                    Currencies
                </a>
            </li>
            <li class="mr-1">
                <a
                    class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold"
                    :class="{'active-tab' : chartToShow === 'hatredChart'}"
                    href="#"
                    @click.prevent="chartToShow = 'hatredChart'"
                >
                    Hatred
                </a>
            </li>
        </ul>
        <div>
            <HackChart v-if="chartToShow === 'hackChart'" />
            <CurrencyChart v-if="chartToShow === 'currencyChart'" />
            <HatredChart v-if="chartToShow === 'hatredChart'" />
        </div>
        <p>Suspendisse feugiat, velit eget tempor vulputate, odio risus iaculis est, vitae mattis massa eros nec tellus. Aenean vulputate massa sapien, nec sollicitudin lacus elementum id. Nulla venenatis, nibh non ullamcorper congue, neque dui consectetur arcu, vel interdum erat arcu sit amet erat. Cras in diam non purus commodo accumsan.</p>
        <p>Suspendisse malesuada vitae augue vitae lacinia. Proin massa urna, vulputate nec purus eget, ornare scelerisque ligula. Sed ac semper turpis.</p>
    </div>
</template>

<script>
import HackChart from "./HackChart";
import CurrencyChart from "./CurrencyChart";
import HatredChart from "./HatredChart";
export default {
    name: "SecurityStats",
    components: {HatredChart, CurrencyChart, HackChart},
    data() {
        return {
            chartToShow: 'hackChart',
        };
    },
}
</script>

<style lang="scss" scoped>
    .active-tab {
        @apply border-l border-t border-r rounded-t py-2 px-4 py-2 px-4 text-blue-700 font-semibold;
    }
</style>
