<template>
    <div class="navigation fixed h-full text-center p-2 pt-6">
       <div
           v-for="item in navigation"
           :key="item.text"
           class="text-white mb-10"
       >
           <NuxtLink :to="{name: item.link}">
               <component
                   :is="item.icon"
                   width="w-5"
                   class="inline-block mx-6"
               />
               <small>{{ item.text }}</small>
           </NuxtLink>
       </div>
    </div>
</template>

<script>
import IconCalendarAlt from "./Icons/IconCalendarAlt";
import IconUserSecret from "./Icons/IconUserSecret";
import IconSpaceStationMoon from "./Icons/IconSpaceStationMoon";
import IconDashboard from "./Icons/IconDashboard";

export default {
    name: "SiteNavigation",
    components: {
        IconCalendarAlt
    },
    computed: {
        navigation() {
            return [
                {
                    'icon': IconDashboard,
                    'link': 'dashboard',
                    'text': 'Dashboard'
                },
                {
                    'icon': IconSpaceStationMoon,
                    'link': 'derp',
                    'text': 'DeathStar'
                },
                {
                    'icon': IconUserSecret,
                    'link': 'secrets',
                    'text': 'Secrets'
                },
            ]
        }
    }
}
</script>

<style lang="scss" scoped>
    .navigation {
        width: 120px;
        background: #2cb8ad;
    }
</style>
