<template>
    <div class="container text-center content-center py-20">
        <iframe src="https://player.vimeo.com/video/148751763?autoplay=1" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <p>Sure - AutoPlay isn't working so just go ahead and press "Play" anyway. It's all about compromise here. I did RickRoll you, but you gotta initiate it yourself...</p>
        <p>Come on. It's a good song.</p>
    </div>
</template>

<script>
export default {
    name: 'SuperSecret',
    data() {
        return {
            users: [],
        };
    },
    async asyncData({ app }) {
        const users = await app.$axios.$get(`${app.$endpoints.user}`);
        return {
            users: users ? users : [],
        };
    },
}
</script>

<style lang="scss" scoped>
    iframe {
        margin: 0 auto;
    }
</style>
