<template>
    <div class="container">
        <p>This page fires an XHR via Axios to our JSON API. It gets back a load of users, loops over them and offers you to chance to go to their own unique page directly.</p>
        <p>The individual page for the user is built with the `_id.vue` page in Pages > Secrets. Nuxt automatically replaces the `_id` with the ID passed in the parameters, allowing you to perform
        additional queries or checks when you arrive on the page.</p>
        <div class="flex flex-wrap mb-4 py-8">
            <Secret
                v-for="user in users"
                :key="user.id"
                :user="user"
            />
        </div>
    </div>
</template>

<script>
import Secret from "../../components/Secrets/Secret";
export default {
    name: 'Secrets',
    components: {
        Secret
    },
    data() {
        return {
            users: [],
        };
    },
    async asyncData({ app }) {
        const users = await app.$axios.$get(`${app.$endpoints.user}`);
        return {
            users: users ? users : [],
        };
    },
}
</script>
