<template>
    <div class="rss-feed flex flex-wrap items-center">
        <RSSFeedItem
            v-for="item in feed"
            :key="item.id"
            :item="item"
        />
    </div>
</template>

<script>
import RSSFeedItem from "./RSSFeedItem";

export default {
    name: "RSSFeed",
    components: {
        RSSFeedItem
    },
    props: {
        feed: {
            type: Array,
            required: true,
        },
    },
}
</script>

<style lang="scss" scoped>
.rss-feed {
    height: 515px;
}
</style>
