<template>
    <div class="max-w-sm rounded overflow-hidden shadow-lg mb-3 mx-auto my-3">
        <img class="w-full" src="https://images.pexels.com/photos/1670187/pexels-photo-1670187.jpeg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
            <div class="font-bold text-l mb-2">{{ item.title }}</div>
            <p class="text-gray-700 text-sm">
                {{ item.body }}
            </p>
            <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white px-1 mt-2 border border-blue-500 hover:border-transparent rounded">
                {{ $t('navigation.read_more') }}
            </button>
        </div>
    </div>
</template>

<script>
export default {
    name: "RSSFeedItem",
    props: {
        item: {
            type: Object,
            required: true,
        },
    },
}
</script>

<style lang="scss" scoped>
img {
    max-height: 200px;
    object-fit: cover;
}
</style>
