<template>
    <div>
        <SiteNavigation/>
        <div class="flex h-screen w-full">
            <div class="container h-screen w-screen error">
                <p>Custom 404 Error Page!</p>
            </div>
        </div>
    </div>
</template>

<script>
import SiteNavigation from "../components/SiteNavigation";

export default {
    components: {
        SiteNavigation,
    }
}
</script>

<style>
    html {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        word-spacing: 1px;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
    }

    h1, h2 {
        color: #1970e0;
        font-weight: 100;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
        margin: 0;
    }

    .container {
        padding-left: 120px;
        max-width: 100%;
    }

    .error {
        background-image: url('../assets/images/404.png');
        background-size: cover;
        background-position: center;
    }

</style>
