<template>
    <div class="max-w-sm rounded overflow-hidden shadow-lg mb-3 w-1/4">
        <div class="px-6 py-4">
            <div class="font-bold text-l mb-2">{{ user.name }}</div>
            <p class="text-gray-700 text-sm">
                {{ user.address.street }}, {{ user.address.city }}, {{ user.address.zipcode }}
            </p>
            <NuxtLink
                :to="{ name: 'secrets-id', params: { id: user.id }}"
                class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white px-1 mt-2 border border-blue-500 hover:border-transparent rounded"
            >
                View User
            </NuxtLink>
        </div>
    </div>
</template>

<script>
export default {
    name: "Secret",
    props: {
        user: {
            type: Object,
            required: true,
        },
    },
}
</script>

<style scoped>

</style>
