<template>
    <div class="container">
        <!-- Narrower side column -->
        <div class="flex mb-4 py-8">
            <div class="w-3/4 px-2">
                <h2 class="text-xl text-gray-800">{{ $t('dashboard.stats.title') }}</h2>
                <small class="text-gray-600">{{ $t('dashboard.stats.description') }}</small>
                <SecurityStats />
            </div>
            <div class="w-1/4 px-2 overflow-y-scroll">
                <h2 class="text-xl text-gray-800">{{ $t('dashboard.feed.title') }}</h2>
                <small class="text-gray-600">{{ $t('dashboard.feed.description') }}</small>
                <RSSFeed :feed="posts"/>
            </div>
        </div>

        <!-- Wide center column -->
        <div class="flex">
            <div class="w-1/2 bg-gray-500 h-12"></div>
            <div class="w-1/4 bg-gray-400 h-12"></div>
            <div class="w-1/4 bg-gray-500 h-12"></div>
        </div>
    </div>
</template>

<script>
import RSSFeed from "../../components/Dashboard/Feed/RSSFeed";
import SecurityStats from "../../components/Dashboard/Stats/SecurityStats";

export default {
    name: 'Dashboard',
    components: {
        SecurityStats,
        RSSFeed
    },
    // middleware: 'authenticated',
    data() {
        return {
            posts: [],
        };
    },
    async asyncData({ app }) {
        const posts = await app.$axios.$get(`${app.$endpoints.post}`);
        return {
            posts: posts ? posts : [],
        };
    },
}
</script>

<style lang="scss" scoped>

</style>
